<p id="notice"><%= notice %></p>

<script>
  $( document ).ready(function() {
       $( "#datepicker1" ).datepicker({ dateFormat: 'yy-mm-dd',  changeMonth: true,
      changeYear: true });
  });
  </script>
  
<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label(:fName, "First Name: ") %><br>
    <%= f.text_field :fName %>
  </div>
  <div class="field">
    <%= f.label( :middle, "Middle Name: ") %><br>
    <%= f.text_field :middle %>
  </div>
  <div class="field">
    <%= f.label( :lName, "Last Name: ") %><br>
    <%= f.text_field :lName %>
  </div>
  <div class="field">
    <%= f.label( :addr1, "Address Line 1: ") %><br>
    <%= f.text_field :addr1 %>
  </div>
  <div class="field">
    <%= f.label( :addr2 , "Address Line 2: ")%><br>
    <%= f.text_field :addr2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label( :licenseCap, "License Capacity: ") %><br>
    <%= f.number_field :licenseCap %>
  </div>
  <div class="field">
    <%= f.label( :sqOneCap, "Square One Capacity:") %><br>
    <%= f.number_field :sqOneCap %>
  </div>
  <div class="field">
    <%= f.label( :licenseExpDate, "License Expiration Date: ") %><br>
    <%= f.text_field :licenseExpDate,     id: 'datepicker1' %>
  </div>
  <div class="field">
    <%= f.label( :certLevel, "Certification Level: ") %><br>
    <%= f.text_field :certLevel %>
  </div>
  <div class="field">
    <%= f.label( :sqOneRepl, "Looking for more Square One Placements:") %><br>
    <%= f.check_box :sqOneRepl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
