<p>&nbsp;</p>
<p id="notice"><%= notice %></p>

<script>
  $(document).ready(function() 
    { 
        $("#resultsTable").tablesorter(); 
    } 
); 
</script>

<h3>Listing Providers:</h3>
 
 
 
 <p><div class="button">
  <%= link_to 'Add Provider', new_provider_path %>
  </div>
  </p>
 
<table border width="100%" id="resultsTable" class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>

      <th>Address</th>
    
      <th>Phone</th>
      <th>Email</th>
      <th>License capacity</th>
      <th>SquareOne capacity</th>
      <th>License Exp Date</th>
      <th>Cert Level</th>
      <th>Looking for more SquareOne placements</th>
      
      <th></th><th></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.fName %> <%= provider.middle %> <%= provider.lName %></td>
        <td><%= provider.addr1 %> <%= provider.addr2 %>, 
        <%= provider.city %>, <%= provider.state %> <%= provider.zip %></td>
        <td><%= provider.phone %></td>
        <td><%= provider.email %></td>
        <td><%= provider.licenseCap %></td>
        <td><%= provider.sqOneCap %></td>
        <td><%= provider.licenseExpDate.strftime("%m/%d/%Y") %></td>
        <td><%= provider.certLevel %></td>
        <td><%= provider.sqOneRepl %></td>
        <td><%= link_to 'Add Attendance Record', showProviderChildren_provider_children_path(provider) %> </td>
        <td>
        <%= link_to 'Show', provider %>
        <%= link_to 'Edit', edit_provider_path(provider) %>
        <%= link_to 'Delete', provider, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>



</p>