<p>&nbsp;</p>
<p id="notice"><%= notice %></p>
<style>
  .button a {
   width: 70px;
   height: 30px;
   line-height: 30px;
}
</style>

<script>
  $(document).ready(function() 
    { 
        $("#resultsTable").tablesorter(); 
    } 
); 
    
</script>
&nbsp;

<h3>Search Results for Providers from <%= @fromDate %> to <%= @toDate %></h3>


    <% @results.each do |provider| %>
<hr/>
        Name: <%= provider.fName %> <%= provider.middle %> <%= provider.lName %>
    <br>Address:    <%= provider.addr1 %> <%= provider.addr2 %>, 
        <%= provider.city %>, <%= provider.state %> <%= provider.zip %>
    <br>Phone:    <%= provider.phone %>
    <br>Email:    <%= provider.email %>
    <br>License Capacity:    <%= provider.licenseCap %>
    <br>Square One Capacity:    <%= provider.sqOneCap %>
    <br>License Expiration Date:    <%= provider.licenseExpDate.strftime("%m/%d/%Y") %>
    <br>Certification Level:    <%= provider.certLevel %>
    <br>Looking for more SquareOne placements:    <%= provider.sqOneRepl %>
<br>
    <div class="button">    <%= link_to 'Edit', edit_provider_path(provider) %> </div>

<table border  id="resultsTable" class="tablesorter">
  <thead>
  <tr><th>Child Name</th><th>DOB</th><th>Date</th><th>TimeIn</th><th>TimeOut</th><th>Absence</th><th>Created by</th><th>Date Created</th><th>Edited by</th><th>Date Edited</th>
 <th></th></tr>
 </thead>
   <tbody>
 
  <% provider.children.order('lName').each do |child| %>     
   
<br><% # pull out each attendance (SQL WHERE BETWEEN) in the fromDate to toDate range. Date has to be in yyyy-mm-dd format 
        attendances = child.attendances.where(dateOfService: @fromDate .. @toDate) 
%>


<% attendances.order('dateOfService').each do |attendance| %>
  
      <tr>
         <td> <%= child.fName %>  <%= child.middle %>  <%= child.lName %></td>
         <td><%= child.dob.strftime("%m/%d/%Y") %></td>
         
        <td><%= attendance.dateOfService.strftime("%m/%d/%Y") %></td>
        <td><%= attendance.timeIn.to_s(:time) %></td>
        <td><%= attendance.timeOut.to_s(:time) %></td>
        <td><%= attendance.absent %></td>
        <td><%= attendance.whoCreated %></td>
        <td><%= attendance.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= attendance.whoEdited %></td>
        <td><%= attendance.updated_at.strftime("%m/%d/%Y") %></td>
 <td><div class="button"><%= link_to 'Edit',  edit_provider_child_attendance_path(child.provider, child, attendance) %> </div></td>
        </tr>
<% end %>


   
<% end %>
</tbody>
</table>
<% end %>
 
  
<p></p>

<%= link_to 'Back', :back %>

</p>