<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @provider.fName %>
</p>

<p>
  <strong>Middle:</strong>
  <%= @provider.middle %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @provider.lName %>
</p>

<p>
  <strong>Addr1:</strong>
  <%= @provider.addr1 %>
</p>

<p>
  <strong>Addr2:</strong>
  <%= @provider.addr2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @provider.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @provider.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @provider.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @provider.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Licensecap:</strong>
  <%= @provider.licenseCap %>
</p>

<p>
  <strong>Sqonecap:</strong>
  <%= @provider.sqOneCap %>
</p>

<p>
  <strong>Licenseexpdate:</strong>
  <%= @provider.licenseExpDate %>
</p>

<p>
  <strong>Certlevel:</strong>
  <%= @provider.certLevel %>
</p>

<p>
  <strong>Sqonerepl:</strong>
  <%= @provider.sqOneRepl %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
