<p id="notice"><%= notice %></p>

<h1>Attendance for Children for provider</h1>

<table border>
  <thead>
    <tr>
      <th>Name</th>
      
      <th>DOB</th>
      <th>Funding</th>
      <th>Transportation</th>
      <th>Start Date</th>
      <th>Provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.fName %> <%= child.middle %> <%= child.lName %></td>
        
        <td><%= child.dob %></td>
        <td><%= child.fundSrc %></td>
        <td><%= child.trans %></td>
        <td><%= child.startDate %></td>
        <td><%= child.provider %></td>
        <td><%= link_to 'Show', child %></td>
        <td><%= link_to 'Edit', edit_child_path(child) %></td>
        <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Child', new_child_path %>
