<p id="notice"><%= notice %></p>

<p>&nbsp;</p>
<h3>Listing Children: </h3>

<table border>
  <thead>
    <tr>
      <th>Name</th>
      
      <th>DOB</th>
      <th>Funding</th>
      <th>Transportation</th>
      <th>Start Date</th>
      <th>Provider</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    
    <div class="button">
  <%= link_to 'Add Child', new_provider_child_path %>
  </div>
  
    <% @children.each do |child| %>
      <tr>
        <td><%= child.fName %> <%= child.middle %> <%= child.lName %></td>
        
        <td><%= child.dob %></td>
        <td><%= child.fundSrc %></td>
        <td><%= child.trans %></td>
        <td><%= child.startDate %></td>
        <td><%= child.provider.fName %> <%= child.provider.lName %></td>
        <td><%= link_to 'See/Edit Attendance', provider_child_path(child.provider, child) %> 
        <%= link_to 'Edit Child', edit_provider_child_path(child.provider, child) %> 
        <%= link_to 'Delete', provider_child_path(child.provider, child), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



