<p id="notice"> <%= notice %></p>
<style>
  .content { margin: 5px;
             width: 100%;
  }
</style>
<% 
 now = @date
 monday = now.beginning_of_week
 mondayStr = monday.strftime("%m/%d/%Y") 
 tuesday = (now.beginning_of_week + 1.day)
 tuesdayStr = tuesday.strftime("%m/%d/%Y") 
 wednesday = (now.beginning_of_week + 2.day)
 wednesdayStr = wednesday.strftime("%m/%d/%Y") 
 thursday = (now.beginning_of_week + 3.day)
 thursdayStr = thursday.strftime("%m/%d/%Y") 
 friday = (now.beginning_of_week + 4.day)
 fridayStr = friday.strftime("%m/%d/%Y") 

 absence_reasons = ["1 - Present", "A - Unexcused", "E1 - Child on Vacation", "E2 - Mom in Hospital", "E3 - Child in Hospital", "E4 - Child Sick (not hospitalized)", "E5 - Child in Subcare", "E6 - Parent Refused Subcare", "E7 - Intervention", "E8 - Child Doctor Appointment", "C1 - Holiday Closure", "C2 - No Square One Transportation", "C3 - Weather Closure", "C4 - Provider on Holiday", "C5 - Professional Day"] 
%>


<p>&nbsp;</p>
<h3>Attendances for Child Care Provider <em> <%= @provider.fName %> <%= @provider.lName %> </em> <br>
   For the week of <em>Monday <%= mondayStr %> </em>:</h3>
   
 
  <%= form_tag recordAttendance_provider_children_path(@provider.id), method: "get" do %>
    Change Week:  <%= select_date now %>  <%= submit_tag("Submit") %>
    <% end %>
    


    
<p></p>
 
      
    <% @children.each do |child| %>
      
  Child Name:<b> <%= child.fName %> <%= child.middle %> <%= child.lName %></b>,  DOB: <%= child.dob.strftime("%m/%d/%Y") %>, Funding Source: <%= child.fundSrc %> <br/>
  
 
    <table border>
        <thead>
         <tr>      <th>Monday  </th><th>Tuesday  </th><th>Wednesday  </th><th>Thursday </th> <th>Friday </th></tr>
        </thead>

  <tbody>
    <tr> 
  <% # Loop through Mon-Fri of this week
    [ monday, tuesday, wednesday, thursday, friday].each do |day|
      
     %>
     <td>
         <% # if today, mark in red
           if day.to_date == Date.current.to_date  %>
                  <h4 style="color:red">TODAY</h4>
          <% end %>
          
       <%
       # pull out each attendance in this week (SQL WHERE). Date has to be in yyyy-mm-dd format 
        a = child.attendances.where(dateOfService: day.strftime("%Y-%m-%d")).first  
    
        if a == nil  # if no attendance found, generate a blank new one
            newAttendance = true
            a = child.attendances.new 
            a.timeIn = now.beginning_of_day
            a.timeOut = now.beginning_of_day
          
           
            %>
            <h4 style="color:red">Please fill in:</h4>   
        <% end %>
          
         <%= form_for [@provider, child, a] do |f|          %>
              <%= f.hidden_field :provider_id, value:@provider.id %>
              
              <div class="field">
                  <%= f.label( :dateOfService, "Date:") %>
                  <%= f.date_field :dateOfService, value: day.strftime("%Y-%m-%d")  %>
                </div>
               
                
                <div class="field">
                  <%= f.label( :timeIn, "TimeIn:") %>
                  <%= f.time_select :timeIn %>
                </div>
                
                <div class="field">
                  <%= f.label( :timeOut, "TimeOut:") %>
                  <%= f.time_select :timeOut %>
                </div>
                <div class="field">
                  <%= f.label( :absent, "Reason if Absent") %>
                  <%= f.select :absent, options_for_select(absence_reasons, a.absent) %>
                </div>
                
            <% if newAttendance %>
                <div class="field">
                  <%= f.label( :whoCreated, "Created by:") %>
                  <%= f.text_field :whoCreated %>
                 
                </div>
                
            <% else %>
                
                <div class="field">
                  <%= f.label( :whoEdited, "Edited by:") %>
                  <%= f.text_field :whoEdited %>
                
                </div>
             <% end %>
             
                <div class="actions">
                  <%= f.submit %>
                </div> </td>
               
         <% end %>
     <% end %>
     
      
      </tr>
  </tbody>
</table>
</ol>
<p> <hr/> </p>

 <% end %>





