<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.fName %>  <%= @child.middle %>  <%= @child.lName %>
</p>





<p>
  <strong>Date of Birth:</strong>
  <%= @child.dob %>
</p>

<p>
  <strong>Funding source:</strong>
  <%= @child.fundSrc %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @child.trans %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @child.startDate %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @child.provider %>
</p>

<strong>Attendance Record:</strong>

<table border>
<tr><th>Day</th><th>Time In</th><th>Time Out</th><th>Absent</th></tr>
<% @child.attendances.each do |a| %>
 <tr> <td>  <%= a.dateOfService %>  </td> <td> <%= a.timeIn %> </td> <td> <%= a.timeOut %> </td>
</tr>

 
  <% end %>
</table>

<!-- link_to 'Edit', edit_child_path(@child) %> | -->
<%= link_to 'Back', provider_children_path  %>
