<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.fName %>  <%= @child.middle %>  <%= @child.lName %>
</p>





<p>
  <strong>Date of Birth:</strong>
  <%= @child.dob %>
</p>

<p>
  <strong>Funding source:</strong>
  <%= @child.fundSrc %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @child.trans %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @child.startDate %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @child.provider.lName %>
</p>

<p>
  
<strong>Attendance Record:</strong>

<table border>
<tr><th>Day</th><th>Time In</th><th>Time Out</th><th>Absent</th><th></th></tr>

<% @child.attendances.each do |a| %>
 <tr> <td>  <%= a.dateOfService %>  </td> <td> <%= a.timeIn.to_s(:time) %> </td> <td> <%= a.timeOut.to_s(:time) %> </td>
 <td> <%= a.absent %> </td>
<td><%= link_to 'Edit', edit_provider_child_attendance_path(@child.provider, @child, a) %></td>
</tr>
  <% end %>
  
</table>
<p>
<%= link_to 'Add New Attendance Record', new_provider_child_attendance_path(@child.provider, @child) %>

<p>
<%= link_to 'Back', provider_children_path  %>
