<p></p>

<p>
<hr/>
   <h3> Attendance Records for Providers for today <%= Date.current.strftime("%m/%d/%y") %>:</h3>
<%= form_tag(daily_attendance_results_admin_index_path, :method => "get", id: "search") do %>
Choose a care provider:    
     <%= select_tag :provider_id, options_for_select(Provider.order('lName').all.collect{|a| [a.lName + ", " + a.fName , a.id]}) %> 
 
<%= submit_tag "Attendances for Today" %>
<% end %>

<p><hr/></p>

     <h3> Attendance Records for Providers for this week:</h3>
<%= form_tag(attendance_results_admin_index_path, :method => "get", id: "search") do %>
Choose a care provider:    
     <%= select_tag :provider_id, options_for_select(Provider.order('lName').all.collect{|a| [a.lName + ", " + a.fName , a.id]}) %> 
 
<%= submit_tag "Attendances for this Week" %>
<% end %>
</p>
<hr/>

