<%= form_for(@attendance, url: provider_child_attendances_path) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% absence_reasons = ["1 - Present", "A - Unexcused", "E1 - Child on Vacation", "E2 - Mom in Hospital", "E3 - Child in Hospital", "E4 - Child Sick (not hospitalized)", "E5 - Child in Subcare", "E6 - Parent Refused Subcare", "E7 - Intervention", "E8 - Child Doctor Appointment", "C1 - Holiday Closure", "C2 - No Square One Transportation", "C3 - Weather Closure", "C4 - Provider on Holiday", "C5 - Professional Day"] %>

  <% children_list = [] %>
  <% for i in Child.all do %>
    <% children_list.push(i.fName + " " + i.lName) %>
  <% end %>


  <% provider_list = [] %>
  <% for i in Provider.all do %>
    <% provider_list.push(i.fName + " " + i.lName) %>
  <% end %>

  <div class="field">
    <%= f.label :child_id %><br>
    <%= f.select :child_id, options_for_select(children_list) %>
  </div>
  <div class="field">
    <%= f.label :provider_id %><br>
    <%= f.select :provider_id, options_for_select(provider_list) %>
  </div>
  <div class="field">
    <%= f.label :childTermDate %><br>
    <%= f.date_select :childTermDate %>
  </div>
  <div class="field">
    <%= f.label :dateOfService %><br>
    <%= f.date_select :dateOfService %>
  </div>
  <div class="field">
    <%= f.label :timeIn %><br>
    <%= f.datetime_select :timeIn %>
  </div>
  <div class="field">
    <%= f.label :timeOut %><br>
    <%= f.datetime_select :timeOut %>
  </div>
  <div class="field">
    <%= f.label :absent %><br>
    <%= f.select :absent, options_for_select(absence_reasons) %>
  </div>
  <div class="field">
    <%= f.label :whoCreated %><br>
    <%= f.text_field :whoCreated %>
  </div>
  <div class="field">
    <%= f.label :dateCreated %><br>
    <%= f.date_select :dateCreated %>
  </div>
  <div class="field">
    <%= f.label :whoEdited %><br>
    <%= f.text_field :whoEdited %>
  </div>
  <div class="field">
    <%= f.label :dateEdited %><br>
    <%= f.date_select :dateEdited %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
