<%= form_for [@provider, @child, @attendance] do |f|  %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% absence_reasons = ["1 - Present", "A - Unexcused", "E1 - Child on Vacation", "E2 - Mom in Hospital", "E3 - Child in Hospital", "E4 - Child Sick (not hospitalized)", "E5 - Child in Subcare", "E6 - Parent Refused Subcare", "E7 - Intervention", "E8 - Child Doctor Appointment", "C1 - Holiday Closure", "C2 - No Square One Transportation", "C3 - Weather Closure", "C4 - Provider on Holiday", "C5 - Professional Day"] %>

 
  <div class="field">
    <%= f.label :child_id %><br>
 <%= f.select( :child_id, options_for_select(Child.all.collect{|a| [a.lName + ", " + a.fName , a.id]}, @attendance.child_id)) %>   
 </div>
 
  <div class="field">
    <%= f.label :provider_id %><br>
 <%= f.select( :provider_id, options_for_select(Provider.all.collect{|a| [a.lName + ", " + a.fName , a.id]}, @attendance.provider_id)) %> 
  </div>
 
  <div class="field">
    <%= f.label "Attendance Date" %><br>
    <%= f.date_field :dateOfService %>
  </div>
  <div class="field">
    <%= f.label :timeIn %><br>
    <%= f.time_select :timeIn, {ampm: true} %>
  </div>
  <div class="field">
    <%= f.label :timeOut %><br>
    <%= f.time_select :timeOut, {ampm: true} %>
  </div>
  <div class="field">
    <%= f.label :absent %><br>
    <%= f.select :absent, options_for_select(absence_reasons, @attendance.absent) %>
  </div>
  <div class="field">
    <%= f.label "Created by" %><br>
    <%= f.text_field :whoCreated %>
  </div>
 
  <div class="field">
    <%= f.label "Edited by" %><br>
    <%= f.text_field :whoEdited %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
