<!DOCTYPE html>
<html>
<head>
  <title>Square One Attendance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
    
<h1> <%= image_tag "squareonelogo.png" %>
Family Child Care Provider Portal</h1>
</div>
<p>&nbsp;</p>
  <nav>
      <ul class="nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Attendance', recordAttendance_provider_children_path(1) %></li>
         <li> <%= link_to 'Children', showProviderChildren_provider_children_path(1) %> </li>
         <li><%= link_to 'Time Off', root_path %></li>
   <li><%= link_to 'Sub Care', root_path %></li> 
    <li><%= link_to 'My Info', edit_provider_path(1) %></li>
   <li><%= link_to 'Log Off', root_path %></li> 
        </ul>
        </nav>
        <p>&nbsp;</p>
        <div class="content">
<%= yield %>
</div></div>
</body>
</html>
